torch_geometric==1.6.1
torch==1.6.0
matplotlib==3.3.1
scikit_network==0.20.0
numpy==1.22.0
six==1.15.0
torch_sparse==0.6.7
networkx==2.5
dgl==0.5.1
scipy==1.6.2
geomloss==0.2.4
ogb==1.3.1
scikit_learn==0.24.2
